
* {
    font-family: 'Finlandica', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  
  header {
    background-color: #576F72;
    width: 100%;
    height: 120px;
    display: block;
  }
  
  nav {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    
  }
  
  
  body {
    min-height: 100vh;
    text-align: center;
    background-color: #F0EBE3; 

  }
  
  
  
  
  .nav-list {
    float: right;
    height: 100%;
    vertical-align: middle;
  }
  
  .nav-list li {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
  }
  
  .nav-list li a{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-size: 20px;
    
  }
  
  button {
    font-size: 20px;
    padding: 5px 10px;
    color: white;
    background-color: #363636;
    border-radius: 20px;
    border-style: none;
  }
  
h1 {
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

  
.copyright {
    font-size: 20px;
    text-align: center;
    padding-left: 0%;
 }

 .image {
  border-style: solid;
  width: 15%;
  margin: 50px;
  padding: 0px 30px 200px;
  background-color: #7D9D9C;
  border-radius: 5%;
  display: flex;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
  

 }

 .info {
  width: 18%;
  text-align: center;
  font-size: 15px;
  color: #F0EBE3;
  /* border-style: dashed; */
  display: block;
  margin-top: -190px;
  margin-bottom: 100px;
  margin-left: 50px;
  
 }


 footer { 
  height: 50px;
  width: 100%;
  background-color: #576F72;
  position: sticky;
  top: 100%;
  text-align: center;
  margin-bottom: -100px;
  
}

footer p{
  padding-top: 15px
}